body, html {
  margin: 0;
  padding: 0;
  background-color: #3d235a;
}

p {
  color: #ffffffcb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #7721bf;
}

#logo-nav {
  margin: 0px 0px 0px 20px;
  width: 75px;
}

#navbarNav {
  justify-content: end;
  margin-right: 30px;
}

#btn-menu {
  background-color: #bd72fd;
}

.nav-item {
  padding-left: 10px;
}

.nav-link {
  color: #fffffff1;
  font-size: 18px;
}

.nav-logo{
  width: 100px;
}

#contact-bar {
  background-color: #bd72fd;
  color: #000000;
  border-radius: 6px;
  text-align: center;
}

#contact:hover {
  background-color: #3d235a;
  color: #fffffff1;
}

.div-plans {
  display: flex;
  margin: auto;
  justify-content: center;
}

#plans-h1 {
  padding-top: 70px;
}

.plan-container {
  background-color: #7721bf;
  margin: 0px 30px 0px 30px;
  padding: 40px 30px;
}

h1 {
  padding-top: 70px;
}

h3 {
  text-align: center;
}

h5 {
  margin: 0;
  padding: 5px 8px;
  color: black;
}
h5:hover {
  color: white;
  transition-duration: 0.5s;
}

.list-characteristics {
  padding-right: 100px;
}

.list-characteristics-null {
  color: #f0f8ff82 !important;
}

.btn-success {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 220, 36);
  border: none;
}

#form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  margin-bottom: 200px !important;
}

#contact-us {
  padding-top: 70px;
}

label {
  color: #fffffff1 ;
}

#foot {
  width: 100%;
  background-color: #2f0c4b;
}

#foot .group-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

#foot .group-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot .group-1 .box figure img{
  width: 250px;
}

#foot .group-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

#foot .group-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

#foot .group-2 {
  background-color: #250a3b;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

#foot .group-2 small {
  font-size: 15px;
}

@media screen and (max-width:800px) {
  #carousel-div {
    display: flex;
    flex-direction: column;
  }

  #carousel-button-1 {
    margin-bottom: 10px;
  }
  
  #carousel-button-2 {
    margin-top: 10px;
  }

  #carousel-img {
    width: 95%;
  }
  
  .div-plans {
    display: grid;
  }

  .class-inputs {
    width: 80%;
  }
  
  #btn-send {
    width: 80%;
  }

  #foot .group-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}